html{
	overflow: hidden;
}
.hueco{
    margin: 0 auto;
    float: none;
}


#AddButtonIm {
	width: 5%;
	float: right;
	padding: 1%;
}



#mySearchText{
    padding-left: 0;
    margin-top: 0;
}
#navbar {
    width: 100%;
}

#fotoLogo{
	height: 35%;
	width:	45%;
	margin: 0;
}

#formButton{
	background-color: blue;
}

.bg-modal{
    width :100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    position: absolute;
    top: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    display: none;
}

.modal-content{
    width:40%;
    height:80%;
    background-color:white;
    border-radius: 14px;
    text-align: center;
    padding: 5%;
    position: relative;

}

input {
	width:50%;
	display: block;
	margin: 5% auto;
}

.close{
	position: absolute;
	top: 0;
	color: black;
	right: 14px;
	font-size:50px;
	transform: rotate(45deg);
}