<!--Bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--CSS-->
<link rel="stylesheet" href="/static/css/CSSCola.css">
<!--DataTables-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cola de Impresión</title>
</head>
<body>


<header>
    <!-- Nav bar menu-->
    <div class="row">
        <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

            <div class="navbar navbar-default yamm" role="navigation" id="navbar">
                <div class="container">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="#">Home</a></li>
                    </ul>
                    <ul>
                    <li><a href="#" class="button" id="AddButton"><img id="AddButtonIm"src="/static/images/BotonAñadir.png"></a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</header>


<div class="bg-modal">
    <div class="modal-content">
        <div class="close">+</div>
        <form method="POST" action="/">
            <img src="/static/images/LogoAbadia.jpg" id="fotoLogo" alt="">
            <div class="hueco col-xs-7">
                {{form.hidden_tag()}}
                {{form.id(class="form-control",placeholder="Id")}}
            </div>
           <div class="hueco col-xs-7">
                {{form.hidden_tag()}}
                {{form.pedido(class="form-control",placeholder="Pedido")}}
            </div>
            <div class="hueco col-xs-7">
                {{form.hidden_tag()}}
                {{form.boquilla(class="form-control",placeholder="Boquilla")}}
            </div>
            <div class="hueco col-xs-7">
                {{form.hidden_tag()}}
                {{form.rollo(class="form-control",placeholder="Rollo")}}
            </div>
            <div class="hueco col-xs-7">
                {{form.hidden_tag()}}
                {{form.maquina(class="form-control",placeholder="Maquina")}}
            </div>
            <div class="hueco col-xs-7">
                {{form.hidden_tag()}}
                {{form.volumen(class="form-control",placeholder="Volumen")}}
            </div>
            <div class="hueco col-xs-7">
                {{form.hidden_tag()}}
                {{form.fecha(class="form-control",placeholder="Fecha")}}
            </div>
            {{ form.submit(class="btn btn-outline-info") }}
        </form>
    </div>

</div>
<script type="text/javascript">
    document.getElementById('AddButton').addEventListener('click',function(){
        document.querySelector('.bg-modal').style.display = 'flex';
        });
    document.querySelector('.close').addEventListener('click',function(){
        document.querySelector('.bg-modal').style.display = 'none';
    });

</script>

<div class="row">
    <div class="col-lg-3">
        <input type="text" id="mySearchText" placeholder="Search...">
    </div>
    <div class="col-lg-7">


        <table id="example" class="table no-footer">
            <thead>

                <tr>
                    <th>id</th>
                    <th>Volumen</th>
                    <th>Fecha</th>
                    <th>Pedido</th>
                    <th>Rollo</th>
                    <th>Boquilla</th>
                    <th>Maquina</th>

                </tr>
            </thead>

            <tbody>
                {% for name in lista %}
                    <tr>
                        <td>{{ name[0] }}</td>
                        <td>{{ name[1].decode() }}</td>
                        <td>{{ name[2].decode() }}</td>
                        <td>{{ name[3] }}</td>
                        <td>{{ name[4] }}</td>
                        <td>{{ name[5] }}</td>
                        <td>{{ name[6] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable( {
        "order": [[ 0, "asc" ]],
        "dom": ''
    } );
} );

$('#mySearchText').on( 'keyup click', function () {
table.search($('#mySearchText').val()).draw();
} );

</script>




    </div>
    <div class="col-lg-2">
        PlaceHolder2
    </div>
</div>

</body>
</html>


