<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="CSSCola.css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cola de Impresión</title>
</head>
<body>
<div class="row">




          <header>
                <!-- Nav bar menu-->
            <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

                <div class="navbar navbar-default yamm" role="navigation" id="navbar">
                    <div class="container">
                        <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Home</a></li>
                            <li><a href="add">Add</a></li>

                        </ul>
                    </div>
                </div>
            </div>
</header>



</div>

</body>
</html>